.big-box {
  background-color: lightseagreen;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-box {
  width: 80px;
  height: 80px;
  padding: 20px;
  text-align: center;
  background-color: orange;
}